/* Universal styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* General styles */
body {
  background-color: #d9dcd6;
  color: #ffffff;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Header element styles (instead of class) */
header {
  padding: 20px;
  background-color: #2a607c;
}

header h1 {
  display: inline-block;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 48px;
}

header a {
  text-decoration: none;
  color: inherit;
}

header nav {
  padding-top: 15px;
  margin: 5px 0;
  font-size: 20px;
}

header nav ul {
  list-style-type: none;

}

header nav ul li {
  display: inline-block;
}

/* Hero/cover section styles */
.hero {
  width: 100%;
  height: 800px;
  margin-bottom: 25px;
  background: url("../images/digital-marketing-meeting.jpg") center/cover;
}

/* Content & services styles */
.info {
  display: inline-block;
  width: 75%;
  margin: 0 0 20px 20px;
}

.service {
  padding: 50px;
  height: 300px;
  background-color: #0072bb;
  margin-bottom: inherit;
}

.service h2 {
  font-size: 36px;
}

.service p {
  font-size: 16px;
}

.service img {
  max-height: 200px;
}

/* Benefits styles */
.benefits {
  display: inline-block;
  padding: 20px;
  clear: both;
  width: 20%;
  height: 100%;
  background-color: #2589bd;
}

.goal {
  margin-bottom: 32px;
}

.goal h3 {
  margin-bottom: 10px;
  text-align: center;
}

.goal img {
  display: block;
  margin: 10px auto;
  max-width: 150px;
}

/* Footer element styles (instead of class) */
footer {
  padding: 30px;
  clear: both;
  color: initial;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
}

footer h2 {
  font-size: 20px;
}

/* Layout/utility styles */
.float-left {
  float: left;
  margin-right: 25px;
}

.float-right {
  float: right;
}

.margin-left {
  margin-left: 25px;
}

.margin-right {
  margin-right: 20px;
}

.off-white {
  color: #d9dcd6;
}
