* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #d9dcd6;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* apply styles to header element (instead of class) */
header {
  padding: 20px;
  color: #ffffff;
  background-color: #2a607c;
}

header h1 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 48px;
  display: inline-block;
}

header a {
  text-decoration: none;
  color: #ffffff;
}

header nav {
  float: right;
  margin: 5px 20px 5px 0;
  padding-top: 15px;
  font-size: 20px;
}

header nav ul {
  list-style-type: none;

}

header nav ul li {
  display: inline-block;
}

header nav ul li a {
  margin: 0 20px 0 25px;
  font-size: 20px;
}

.seo {
  color: #d9dcd6;
}

.hero {
  height: 800px;
  width: 100%;
  margin-bottom: 25px;
  background-image: url("../images/digital-marketing-meeting.jpg");
  background-size: cover;
  background-position: center;
}

/* apply styles to content (services) sections */
.content {
  width: 75%;
  display: inline-block;
  margin: 0 0 20px 20px;
}

.service {
  margin-bottom: 20px;
  padding: 50px;
  height: 300px;
  background-color: #0072bb;
  color: #ffffff;
}

.service h2 {
  font-size: 36px;
}

.service p {
  font-size: 16px;
}

.service img {
  max-height: 200px;
}

/* layout styles */
.float-left {
  float: left;
  margin-right: 25px;
}

.float-right {
  float: right;
  margin-left: 25px;
}

/* apply styles to benefits section */
.benefits {
  margin-right: 20px;
  padding: 20px;
  clear: both;
  float: right;
  width: 20%;
  display: inline-block;
  height: 100%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #2589bd;
}

.goal {
  margin-bottom: 32px;
  color: #ffffff;
}

.goal h3 {
  margin-bottom: 10px;
  text-align: center;
}

.goal img {
  display: block;
  margin: 10px auto;
  max-width: 150px;
}

/* apply styles to footer element (instead of class) */
footer {
  padding: 30px;
  clear: both;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
}

footer h2 {
  font-size: 20px;
}
